<!DOCTYPE html>
<html class='no-js'>
<head>
    <meta charset='UTF-8' />
    <title>clooca game ログイン</title>
    <meta content='width=device-width' name='viewport' />
    <link href='/static/css/game/style.css' rel='stylesheet' />
    <script src='/static/js/modernizr.js'></script>
		<script src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript">
			$(function(){
				// hide messages 
				$("#error").hide();
				$("#success").hide();
				
				// on submit...
				$("#login-form #button").click(function() {
					$("#error").hide();
					
					//required:
					
					//name
					var uname = $("input#uname").val();
					if(uname == ""){
						$("#error").fadeIn().text("ユーザ名が必要です。");
						$("input#uname").focus();
						return false;
					}
					
					var passwd = $("input#passwd").val();
					if(passwd == ""){
						$("#error").fadeIn().text("パスワードが必要です。");
						$("input#passwd").focus();
						return false;
					}
					
					var permanent = $("input#stable").val();
					
					url = $("#login-form").attr( 'action' );
					
					// data string
					var dataString = 'username='+ uname
									+ '&password=' + passwd
									+ '&permanent=' + permanent;
					
					$.ajax({
						type:"POST",
						url: url,
						data: dataString,
						dataType: 'json',
						success: function(data){
							 if(data) {
								 	$("#success").fadeIn();
								 	$("#login-form").fadeOut();
								 	location.reload();
							 }else{
									$("#error").fadeIn().text("ユーザ名かパスワードが違います。");
							 }
						}
					});
					return false;
				});
			});
		</script>
	</head>
<body class="index">
<div class='container'>
      <header>
        <div class='wrapper'>
          <a class='symbolset-logo' href='/'>
          <img alt='clooca game' src='/static/images/game/clooca_logo_1.png' />
          </a> ログイン<br>
          <nav class="right">
          	<a href='/reg'>新規登録</a>
          	<a href='/login'>ログイン</a>
          </nav>
        </div>
      </header>
	  <section class="wrapper">
      	<div class='promo'>
        	<div class="inputForm">
        	  <form id="login-form" name="form1" method="post" action="/login-to">
            	<table border="0" cellpadding="10" cellspacing="10">
                  <tr>
                    <th>ユーザ名</td>
                    <td><input name="uname" type="text" id="uname" tabindex="1" size="25"></td>
                  </tr>
                  <tr>
                    <th>パスワード</td>
                    <td><input name="passwd" type="password" id="passwd" tabindex="2" size="25"></td>
                  </tr>
                  <tr>
                    <th>&nbsp;</td>
                    <td><input type="checkbox" name="stable" id="stable" value="true" tabindex="3">
                    ログイン状態を維持</td>
                  </tr>
                  <tr>
                    <th>                  
                    <td><input type="submit" name="button" id="button" class="button" value="ログイン" tabindex="4" style="width:245px;"></td>
                  </tr>
                  <tr>
                    <th>                  
                    <td><input type="submit" name="buttonfb" id="buttonfb" class="button buttonfb" value="facebookでログイン" tabindex="4" style="width:245px;"></td>
                  </tr>
                </table>
              </form>
          </div>
        </div>
      </section>
</div> <!-- end .container -->
  <footer>
      <div class='wrapper'>
        <nav>
          <ul>
            <li>clooca</li>
            <li>
              <a href='/policy'>Privacy Policy</a>
            </li>
            <li>
              <a href='mailto:syuhei176@gmail.com'>Contact</a>
            </li>
          </ul>
        </nav>
        <div class='copyright'>
          <span>
            Copyright &copy; 2012
          <a href='http://technicalrockstars.co.jp/' target='_blank'>株式会社Technical Rockstars All Rights Reserved.</a>
          </span>
        </div>
      </div>
</footer>
</body>
</html>